
<script id="distanceTemplate" type="text/x-handlebars-template">
    Distance from <strong>\{{from}}</strong> to <strong>\{{to}}</strong> is \{{distance}} meters
</script>

<script id="nearestTemplate" type="text/x-handlebars-template">
    The nearest location to <strong>\{{nearest_to.description}}</strong> is <strong>\{{key}}</strong> it's \{{distance}}m away.
</script>

<script id="radiusTemplate" type="text/x-handlebars-template">
    \{{#if inCircle}}
        <strong>\{{from}}</strong> is within a radius of <strong>\{{distance}}m</strong> from <strong>\{{to}}</strong>.
    \{{else}}
        <strong>\{{from}}</strong> is not in a <strong>\{{distance}}m</strong> radius from <strong>\{{to}}</strong>.
    \{{/if}}
</script>

<div class="row">

    <div class="eight columns">
        <h1>Locations</h1>

        <a href="/locations/add">Add location</a>
        <form id="locationForm">
            <input type="button" name="name" id="get_distance" value="Get distance">
            <input type="button" name="name" id="get_center" value="Get center">
            <input type="button" name="name" id="get_closest" value="Nearest">
            <input type="button" name="name" id="in_circle" value="In circle?">
            <input type="range" name="name" class="u-full-width" id="slider" value="" step="100" max="20000">
            <span id="circleSize"></span>
            <input type="button" name="name" id="put_on_map" value="Put on map">
            <input type="button" name="name" id="clear_markers" value="Clear map">
            <input type="button" name="name" id="hide_map" value="Hide/show map">

            <table>
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Latitude
                        </th>
                        <th>
                            Longitude
                        </th>

                    </tr>
                </thead>
                <tbody id="locations">
                    {{#locations}}
                        <tr>
                            <td>
                                <input type="checkbox" name="selected" value="{{id}}">
                            </td>
                            <td>
                                {{description}}
                            </td>
                            <td>
                                {{latitude}}
                            </td>
                            <td>
                                {{longitude}}
                            </td>
                            <td>
                                <a href="/locations/delete/{{id}}">Delete</a>
                            </td>
                        </tr>
                    {{/locations}}
                </tbody>
            </table>
        </form>

    </div>
    <div class="four columns">
        <h2>Distance</h2>
        <div id="distance">

        </div>
        <hr>
        <div id="map">

        </div>

    </div>
</div>
<script>

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZUOeLHok7Np_KxVUfvVNFRVVEUEb0mbg&signed_in=true&callback=initMap"></script>
